beautifulsoup4==4.12.3
click==8.1.7
colorama==0.4.6
joblib==1.4.0
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.4.28
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
soupsieve==2.5
threadpoolctl==3.5.0
tqdm==4.66.2
tzdata==2024.1
requests